<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>
<div class="message-content">
<p>Hello, {{name}}</p>
<p>It looks like there was a request to change your account's password.</p>
<p>If it is you click on the link below to choose a new password:</p>
<a href="{{link}}">Reset my password</a>
<p>If it is not you then please disregard this email!</p>
<p>
  Thank you!
  <br />
  <strong>The eBarber team</strong>
</p>
</div>
